:root {
	--control-border: rgb(204, 204, 204);
	--grad-header-top: rgb(254, 254, 254);
	--grad-header-bottom: rgb(230, 230, 230);
	--background: white;
	--danger: #e2d5d5;

	@media (prefers-color-scheme: dark) {
		--control-border: #37383A;
		--grad-header-top: #292a2d;
		--grad-header-bottom: #292a2d;
		--background: #202124;
		--danger: #{darken(#e2d5d5, 40%)};
		&, * {
			color: rgb(232, 234, 237);
		}
	}
}

html, body {
	min-width: 300px;
	padding: 0;
	margin: 0;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	height: 0;

	background: var(--background);
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#search-input {
	font-size: 1em;
	width: 100%;
	outline-width: 0;
	border: none;
	padding: 8px;
	border-bottom: 1px solid var(--control-border);

	@media (prefers-color-scheme: dark) {
		background: rgba(0, 0, 0, 0.22);
	}
}

header {
	text-align: center;
	background: -webkit-linear-gradient(top, var(--grad-header-top), var(--grad-header-bottom));
	border-bottom: 1px solid var(--control-border);
	font-size: 16px;
	height: 30px;
	padding: 0px 10px;
	display: block;
	color: rgb(153, 153, 153);
	line-height: 30px;
}

%list {
	li {
		line-height: 1.1em;
		display: block;
		border-bottom: 1px solid var(--control-border);
		padding: 2px 4px;

		&:hover, &.active {
			&, & * {
				text-decoration: underline;
			}

			background: -webkit-linear-gradient(top, var(--grad-header-top), var(--grad-header-bottom));
		}
	}
}

%vert-list {
	@extend %list;

	li {
		display: flex;
		padding: 0;

		&:last-of-type {
			border-bottom: none;
		}

		> div {
			cursor: pointer;
			padding: 2px 4px;
			flex: 2;
			display: flex;
			align-items: center;

			> img, span {
				display: inline-block;
			}

			> span {
				word-break: break-word;
				flex: 1;
			}

			> img {
				vertical-align: middle;
				margin: 3px 5px 3px;
				width: 16px;
				height: 16px;
			}

			> small {
				flex: 1;
				word-break: break-word;
				text-align: right;
				padding-left: 10px;
				max-width: 60px;
			}
		}

		> button {
			background: var(--grad-header-top);
			border: none;
			border-left: 1px solid var(--control-border);
			display: inline-block;
			vertical-align: middle;

			&:hover {
				background: var(--danger);
			}
		}
	}
}

#domain-list {
	@extend %vert-list;
}

#tab-list {
	@extend %vert-list;

	max-height: 300px;
	overflow: auto;
}

#misc-list {
	@extend %list;

	font-size: .9em;
	display: flex;
	cursor: pointer;

	li {
		padding: 10px;
		flex: 1;
		text-align: center;
		border-left: 1px solid var(--control-border);

		&:first-of-type {
			border-left: none;
		}
	}
}

/* width */
::-webkit-scrollbar {
	width: .7em;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background);
	border-left: 1px solid var(--control-border);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ccc;
	@media (prefers-color-scheme: dark) {
		background: invert(#ccc);
	}

	&:hover {
		background: #bfbfbf;
		@media (prefers-color-scheme: dark) {
			background: invert(#bfbfbf);
		}
	}
}
