html, body {
	min-width: 300px;
	padding: 0;
	margin: 0;

	// font-family: Arial, Helvetica, sans-serif;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	height: 0;

	// forces window to autosize
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#search-input {
	width: 100%;
	outline-width: 0;
	border: none;
	padding: 8px;
	border-bottom: 1px solid rgb(204, 204, 204);
}

header {
	text-align: center;
	background: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(230, 230, 230));
	border-bottom: 1px solid rgb(204, 204, 204);
	font-size: 16px;
	height: 30px;
	padding: 0px 10px;
	display: block;
	color: rgb(153, 153, 153);
	line-height: 30px;
}

#domain-search {
	width: 100%;
	margin-bottom: 3px;
}

$control: rgb(204, 204, 204);

%list {
	li {
		line-height: 1.1em;
		display: block;
		border-bottom: 1px solid $control;
		padding: 2px 4px;

		&:hover, &.active {
			&, & * {
				text-decoration: underline;
			}

			background: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(230, 230, 230));
		}
	}
}

%vert-list {
	@extend %list;

	li {
		display: flex;
		padding: 0;

		&:last-of-type {
			border-bottom: none;
		}

		> div {
			cursor: pointer;
			padding: 2px 4px;
			flex: 2;
			display: flex;
			align-items: center;

			> img, span {
				display: inline-block;
			}

			> span {
				word-break: break-word;
				flex: 1;
			}

			> img {
				vertical-align: middle;
				margin: 3px 5px 3px;
				width: 16px;
				height: 16px;
			}

			> small {
				flex: 1;
				word-break: break-word;
				text-align: right;
				padding-left: 10px;
				max-width: 60px;
			}
		}

		> button {
			background: white;
			border: none;
			border-left: 1px solid rgb(204, 204, 204);
			display: inline-block;
			vertical-align: middle;

			&:hover {
				background: #e2d5d5;
			}
		}
	}
}

#domain-list {
	@extend %vert-list;

	// li {

	// }
}

// #domain-tab-content {
// 	@extend %vert-list;
// }

#tab-list {
	@extend %vert-list;

	max-height: 300px;
	overflow: auto;
}

#misc-list {
	@extend %list;

	font-size: .9em;
	display: flex;
	cursor: pointer;

	li {
		padding: 10px;
		flex: 1;
		text-align: center;
		border-left: 1px solid rgb(204, 204, 204);

		&:first-of-type {
			border-left: none;
		}
	}
}

/* width */
::-webkit-scrollbar {
	width: .7em;
}

/* Track */
::-webkit-scrollbar-track {
	background: white;
	border-left: 1px solid $control;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ccc;

	// border-right: 1px solid white;

	&:hover {
		background: #bfbfbf;
	}
}
